@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.navbar{
  color: black;
}
.navbar .col-sm-2 .col-4 .bg-dark{
  color: black;
}
table, th, td {
  border: 1px solid black;
}






